<header class="header">
        
    <a href="/" class="logo">
        <img src="/assets/main.png" alt="">
    </a>
   
<div class="fas fa-bars"></div>

<nav class="navbar">
    <ul>
        <li><a href="/plugins/">Plugins</a></li>
        <li><a href="/themes/">Themes</a></li>
        <li><a href="/premium/">Premium</a></li>
    </ul>
</nav>

</header>