---
layout: 'base.njk'
---
<section class="post-container">

    <div class="post-content">
        <a href="{{ link }}"><img src=" {{ image }}" alt="{{ imageAlt }}"></a>
        <h1 class="heading">{{ title }}</h1>
      {{ content | safe }}
        <a href="{{ link }}" class="card-btn">Download</a>
    </div>

</section>