---
title: Download Free Themes!
layout: 'base.njk'
---



<section class="card-container">
    <h1 class="heading">Free Plugins</h1>
    <ul class="cards">
      
        {%- for post in collections.plugin | reverse -%}
                  {% include 'data.njk' %}
        {%- endfor -%}
    </ul>
</section>